<li>
    <div class="image-container">
        <div class="image">
            <img src="https://via.placeholder.com/200x200/6495ED" alt="">
        </div>
        <div class="btn-list">
            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-search-plus"></i></a>
            <a href="#" class="btn btn-white btn-xs"><i class="fa fa-cog"></i></a>
        </div>
        <div class="info">
            <h5>{{user.nick}}</h5>
            <small class="text-muted">24/08/2015</small>
            <small class="text-muted">text</small>
        </div>
    </div>
</li>

