{% extends 'layout.html' %}

{% block content %}
    <div class="profile">
        {% if user and user.id %}
            <a id="my-profile" href="/profile" class="btn">내 프로필</a>
            <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        {% else %}
            <form id="login-form" action="/auth/login" method="post">
                <div class="input-group">
                    <label for="email">이메일</label>
                    <input id="email" type="email" name="email" required autofocus>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input id="password" type="password" name="password" required>
                </div>
                <a id="account" href="/account" class="btn">회원가입</a>
                <button id="login" type="submit" class="btn">로그인</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
